.login-container {
    max-width: 400px;
    margin: auto;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
  }
  
  h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 1em;
  }
  
  label {
    display: block;
    margin-bottom: 0.5em;
  }
  
  input {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    width: 100%;
    padding: 0.5em;
    background-color: rgb(238, 21, 202); /* Color rojo según el criterio de aceptación */
    color: white;
    border: none;
    border-radius: 4px;
  }
  
  .error-message {
    color: red;
    margin-top: 1em;
    text-align: center;
  }